<h2><%=@task.title%></h2>
<p><%=@task.details%></p>
<ul>
  <li style="list-style: none">
  <p><input type='checkbox'> This task is not completed yet</p>
</li>
</ul>
<%= link_to "Back to list", tasks_path %>
